## === Build artifacts ===
#**/target
#dist
#node_modules
#
## === IDE / Editors ===
#**/.idea
#.vscode
#
## === Git / VCS ===
#**/.git
#**/.gitignore
#.git
#.gitignore
#
## === Docker files ===
#Dockerfile
#docker-compose.yml
#
## === Logs / temp ===
#*.log
#*.tmp

**/node_modules
**/.bin
**/dist
**/build
**/.cache
.vscode
.git
.gitignore
.DS_Store
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
